data/*
massdensity.txt
PDFs/*
paper/figures/*pdf
*.m~
paper/*.aux
paper/*.log
paper/*.lot
paper/*.lof
paper/*.blg
paper/*.bbl
paper/*.toc
paper/*.tks
paper/UsedFigures/*.aux
paper/UsedFigures/*.log
paper/UsedFigures/*.lot
paper/UsedFigures/*.lof
paper/UsedFigures/*.blg
paper/UsedFigures/*.bbl
paper/UsedFigures/*.toc
paper/UsedFigures/*.tks
